# Data Preprocessing 
also called, Data Cleaning or Data Wrangling

In [60]:
# The code was removed by Watson Studio for sharing.

In [61]:
CarData = pd.read_csv(body)
CarData.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

### Counting total number of missing values in each columns.

In [63]:
# replace "?" to NaN
CarData.replace("?", np.nan, inplace = True)
CarData.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [64]:
missing_data = CarData.isnull()
missing_data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

#### Counting the missing value

In [66]:
# shows missing value in each of the column of the data. 

for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

symboling
False    205
Name: symboling, dtype: int64

normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64

make
False    205
Name: make, dtype: int64

fuel-type
False    205
Name: fuel-type, dtype: int64

aspiration
False    205
Name: aspiration, dtype: int64

num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64

body-style
False    205
Name: body-style, dtype: int64

drive-wheels
False    205
Name: drive-wheels, dtype: int64

engine-location
False    205
Name: engine-location, dtype: int64

wheel-base
False    205
Name: wheel-base, dtype: int64

length
False    205
Name: length, dtype: int64

width
False    205
Name: width, dtype: int64

height
False    205
Name: height, dtype: int64

curb-weight
False    205
Name: curb-weight, dtype: int64

engine-type
False    205
Name: engine-type, dtype: int64

num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64

engine-size
False    205
Name: engine-size, dtype: int64

fuel-system
False    205
Name: fuel-system, dtype: int64

bore
False    201
True       4
Name: bore, dtype: int64

stroke
False    201
True       4
Name: stroke, dtype: int64

compression-ratio
False    205
Name: compression-ratio, dtype: int64

horsepower
False    203
True       2
Name: horsepower, dtype: int64

peak-rpm
False    203
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    205
Name: city-mpg, dtype: int64

highway-mpg
False    205
Name: highway-mpg, dtype: int64

price
False    201
True       4
Name: price, dtype: int64

# Manipulating Symboling by adding 1 to each element of the column

In [3]:
CarData['symboling'] = CarData['symboling'] + 1
CarData.head()
# each data of sumboling is increased by +1

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,4,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,4,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,3,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

# Strategies with the problems of missing values !

### Strategy 1
#### Drop the missing Values
#####  a. Drop the Variables
#####  b. Drop the data entry

### Strategy 2
#### Replace the missing value
##### a. Replace it with the average 
##### b. Replace it with the frequency (Mode, usually done with catagorical datapoints.)
##### c. Replace it based on some function

### Strategy 3
#### Leave it missing !

In [4]:
# droping the missing value can be done by using panda built in function .dropna(), we need to specify axis. axis = 0 is row, axis = 1 is columns. 
CarData.dropna(subset=['price'], axis = 0, inplace = True )

In [5]:
CarData.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,4,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,4,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,3,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,3,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,2,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,2,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,2,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,1,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.0,160,5500,16,22,?

# Converting datatype from object to integer

In [6]:
CarData['normalized-losses'].dtype

dtype('O')

In [7]:
CarData['normalized-losses'] = CarData['normalized-losses'].replace('?', 'nan')
CarData['normalized-losses'].head(2)

0    nan
1    nan
Name: normalized-losses, dtype: object

In [8]:
CarData['normalized-losses'] = CarData['normalized-losses'].astype('float' )

## To replace missing value with actual value .replace (missing_value , new_value) function can be used.

In [9]:
mean_normalized_loss = CarData['normalized-losses'].mean()
mean_normalized_loss

122.0

In [10]:
CarData['normalized-losses'] = CarData['normalized-losses'].replace(np.nan, mean_normalized_loss)

In [11]:
CarData['normalized-losses'].head()

0    122.0
1    122.0
2    122.0
3    164.0
4    164.0
Name: normalized-losses, dtype: float64

## Converting city-mpg into L/100 km by using formulae , 235/mpg and renaming the column

In [12]:
CarData['city-mpg'] = 235/CarData['city-mpg']
CarData.rename(columns ={'city-mpg':'city-L/100km'}, inplace = True)

### to identify data types .dtypes() function is used
### to convert from one datatype to another dataframe.astype()is used
### eg. CarData['price'] = CarData['price'].astype('float')

In [13]:
CarData['price'].dtype

dtype('O')

In [14]:
CarData['price'] = CarData['price'].replace('?', np.nan)

In [15]:
CarData['price'] = CarData['price'].astype('float')

In [16]:
CarData['price'].head(10)

0    13495.0
1    16500.0
2    16500.0
3    13950.0
4    17450.0
5    15250.0
6    17710.0
7    18920.0
8    23875.0
9        NaN
Name: price, dtype: float64

In [17]:
CarData['price'] = CarData['price'].replace(np.nan, CarData['price'].mean())

In [18]:
CarData['price'].head(10)

0    13495.000000
1    16500.000000
2    16500.000000
3    13950.000000
4    17450.000000
5    15250.000000
6    17710.000000
7    18920.000000
8    23875.000000
9    13207.129353
Name: price, dtype: float64

In [19]:
CarData['price'] = CarData['price'].astype('int')

In [20]:
CarData['price'].dtype

dtype('int64')

### Data Normalization
##### Uniform the feature value with different range.

## Three methods of Normalization
### 1. Simple Feature Scaling : X_new = X_old / X_max. Range between 0 and 1
### 2. Min-Max : X_new = (X_old - X_min) / (X_max - X_min). Range between 0 and 1
### 3. Z-score : X_new = (X_old - mu) / sigma : typically range between -3 to 3 but can be higher or lower . (mu is mean , sigma is standard deviation.)

In [21]:
# from CarData dataframe we will apply normalization feature on length , width and height columns
CarData[['length','width','height']].head()

   length  width  height
0   168.8   64.1    48.8
1   168.8   64.1    48.8
2   171.2   65.5    52.4
3   176.6   66.2    54.3
4   176.6   66.4    54.3

##### On 'length' we will apply Simple feature scaling

In [22]:
CarData['length'] = CarData['length'] / CarData['length'].max() 
CarData['length'].head()

0    0.811148
1    0.811148
2    0.822681
3    0.848630
4    0.848630
Name: length, dtype: float64

##### On 'width' we will apply min-max normalization

In [23]:
CarData['width'] = (CarData['width']-CarData['width'].min())/(CarData['width'].max() - CarData['width'].min())
CarData['width'].head()

0    0.316667
1    0.316667
2    0.433333
3    0.491667
4    0.508333
Name: width, dtype: float64

##### On 'height' we will apply z-score normalization

In [24]:
CarData['height'] = (CarData['height'] -CarData['height'].mean())/CarData['height'].std() 
CarData['height'].head()

0   -2.015483
1   -2.015483
2   -0.542200
3    0.235366
4    0.235366
Name: height, dtype: float64

## Binning is to group values into Bins

##### Grouping a set of numerical value into set of bins

##### We will bin the price into 3 groups , Low , Medium and High price

In [25]:
# Let's find range of price
print(CarData['price'].min())
print(CarData['price'].max())

5118
45400

In [26]:
CarData

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-L/100km,highway-mpg,price
0,4,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111,5000,11.190476,27,13495
1,4,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111,5000,11.190476,27,16500
2,2,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.00,154,5000,12.368421,26,16500
3,3,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.00,102,5500,9.791667,30,13950
4,3,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.00,115,5500,13.055556,22,17450
5,3,122.0,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.50,110,5500,12.368421,25,15250
6,2,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.50,110,5500,12.368421,25,17710
7,2,122.0,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.50,110,5500,12.368421,25,18920
8,2,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.30,140,5500,13.823529,20,23875
9,1,122.0,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.00,160,5500,14.687500,22,13207
10,3,192.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.80,101,5800,10.217391,29,16430
11,1,192.0,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.80,101,5800,10.217391,29,16925
12,1,188.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.00,121,4250,11.190476,28,20970
13,1,188.0,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.00,121,4250,11.190476,28,21105
14,2,122.0,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.00,121,4250,11.750000,25,24565
15,1,122.0,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.00,182,5400,14.687500,22,30760
16,1,122.0,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.00,182,5400,14.687500,22,41315
17,1,122.0,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.00,182,5400,15.666667,20,36880
18,3,121.0,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.50,48,5100,5.000000,53,5151
19,2,98.0,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,6.184211,43,6295
20,1,81.0,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,6.184211,43,6575
21,2,118.0,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.41,68,5500,6.351351,41,5572
22,2,118.0,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,7.580645,38,6377
23,2,118.0,dodge,gas,turbo,two,hatchback,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102,5500,9.791667,30,7957
24,2,148.0,dodge,gas,std,four,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,7.580645,38,6229
25,2,148.0,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,7.580645,38,6692
26,2,148.0,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,7.580645,38,7609
27,2,148.0,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102,5500,9.791667,30,8558
28,0,110.0,dodge,gas,std,four,wagon,fwd,front,103.3,...,122,2bbl,3.34,3.46,8.50,88,5000,9.791667,30,8921
29,4,145.0,dodge,gas,turbo,two,hatchback,fwd,front,95.9,...,156,mfi,3.6,3.9,7.00,145,5000,12.368421,24,12964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,0,65.0,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92,4200,8.703704,32,9988
176,0,65.0,toyota,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92,4200,8.703704,32,10898
177,0,65.0,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92,4200,8.703704,32,11248
178,4,197.0,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.30,161,5200,11.750000,24,16558
179,4,197.0,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.30,161,5200,12.368421,24,15998
180,0,90.0,toyota,gas,std,four,sedan,rwd,front,104.5,...,171,mpfi,3.27,3.35,9.20,156,5200,11.750000,24,15690
181,0,122.0,toyota,gas,std,four,wagon,rwd,front,104.5,...,161,mpfi,3.27,3.35,9.20,156,5200,12.368421,24,15750
182,3,122.0,volkswagen,diesel,std,two,sedan,fwd,front,97.3,...,97,idi,3.01,3.4,23.00,52,4800,6.351351,46,7775
183,3,122.0,volkswagen,gas,std,two,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.4,9.00,85,5250,8.703704,34,7975
184,3,94.0,volkswagen,diesel,std,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.4,23.00,52,4800,6.351351,46,7995
185,3,94.0,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.4,9.00,85,5250,8.703704,34,8195
186,3,94.0,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.4,9.00,85,5250,8.703704,34,8495
187,3,94.0,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.4,23.00,68,4500,6.351351,42,9495
188,3,94.0,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.4,10.00,100,5500,9.038462,32,9995
189,4,122.0,volkswagen,gas,std,two,convertible,fwd,front,94.5,...,109,mpfi,3.19,3.4,8.50,90,5500,9.791667,29,11595
190,4,256.0,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.4,8.50,90,5500,9.791667,29,9980
191,1,122.0,volkswagen,gas,std,four,sedan,fwd,front,100.4,...,136,mpfi,3.19,3.4,8.50,110,5500,12.368421,24,13295
192,1,122.0,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.4,23.00,68,4500,7.121212,38,13845
193,1,122.0,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.4,9.00,88,5500,9.400000,31,12290
194,-1,103.0,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,10.217391,28,12940
195,0,74.0,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,10.217391,28,13415
196,-1,103.0,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,9.791667,28,15985
197,0,74.0,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,9.791667,28,16515
198,-1,103.0,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.50,162,5100,13.823529,22,18420
199,0,74.0,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.50,162,5100,13.823529,22,18950
200,0,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.50,114,5400,10.217391,28,16845
201,0,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.70,160,5300,12.368421,25,19045
202,0,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.80,134,5500,13.055556,23,21485
203,0,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.00,106,4800,9.038462,27,22470
204,0,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.50,114,5400,12.368421,25,22625

In [29]:
# We want to divide into 3 bins
binwidth = int((max(CarData['price']) - min(CarData['price']))/3)
# Creating Bin Array from min value to max value with binwidth calculated above!!
bins = range(min(CarData['price']),max(CarData['price']), binwidth)
# Creating labels for each bin
group_names = ['Low','Medium', 'High']
CarData['price_binned'] = pd.cut(CarData['price'], bins, labels = group_names)

In [44]:
CarData['price_binned'].value_counts()

Low       174
Medium     18
High       11
Name: price_binned, dtype: int64

## One hot encoding

#### pandas.get_dummies(dataframe['column_name']) to convert categorical variable into dummy variable.

In [49]:
# We will convert fuel type into dummy variable.
CarData['fuel-type'].value_counts()

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [52]:
# fuel-type is gas or diesel , 
CarData['fuel-type'] = pd.get_dummies(CarData['fuel-type'])
CarData['fuel-type'].value_counts()

0    185
1     20
Name: fuel-type, dtype: int64